.todo-item,
.no-todo {
  margin-bottom: 15px;
  padding: 20px;
  background-color: #0c0c0c;
  background-color: #161616;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
  position: relative;
  flex: 1;
}

.date-container {
  position: absolute;
  top: 3px;
  top: 15px;
  right: 20px;
  right: 60px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.end-date {
  font-size: 0.8rem;
  color: #787878;
}

.delete-btn {
  all: unset;
  font-size: 1.7rem;
  color: #d4d4d4;
  background-color: rgb(72, 72, 72);
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;

  background-color: var(--red-color);
  background-color: #222222;
  /* height: 158px; */
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 40px;
  border-radius: 0 4px 4px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s ease, color 0.3s ease;
}

.delete-btn>svg {
  margin-bottom: auto;
  margin-top: 10px;
}

.delete-btn:hover {
  color: #fff;
  background-color: var(--red-color);
}


